*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$base-color: hsl(210, 0%, 90%);
$second-color: hsl(210, 100%, 54%);

body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    background-color: $base-color;
}

@mixin hamburger-line {
    width: 100%;
    height: 2px;
    background-color: $second-color;
    position: absolute;

}


.top_wrapper {
    height: 100vh;
    width: 100vw;
    background-image: url("./img/background__wrraper.png");
    background-repeat: no-repeat;
    background-size: 75vw;
    background-position: right bottom;

    &__header {
        position: absolute;
        top: 15%;
        left: 5%;
        z-index: -1;
        transform: rotate(-15deg);
    }

    &__second
    {
        position: absolute;
        left: 5%;
    }
}

.social{
    position: absolute;
    bottom: 10%;
    left: 10%;
    display: flex;
    flex-direction: column;
    height: 130px;
    align-content: space-between;
    justify-content: space-evenly;
    &__img{
        height: 32px;
    }
}


.hamburger {
    position: absolute;
    padding: 16px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    left: 10px;
    top: 10px;
    transition: transform .3s .2s ease-in-out;
    z-index: 2;

    &__box {
        width: 30px;
        height: 24px;
        display: inline-block;
        position: relative;
    }

    &__inner {
        @include hamburger-line;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: background-color .1s .2s ease-in-out;

        &::before,
        &::after {
            @include hamburger-line;
            content: "";
            left: 0;
            transition: transform .2s .2s ease-in-out;
        }

        &::before {
            top: -10px;
        }

        &::after {
            top: 10px;
        }
    }

    &--active {
        z-index: 3;
        transform: translateX(300px);
        position: fixed;
    }

    &--active &__inner {
        background-color: transparent;
    }

    &--active &__inner::before {
        transform: translateY(10px) rotate(45deg);
    }

    &--active &__inner::after {
        transform: translateY(-10px) rotate(-45deg);
    }

}

.navigation {
    position: fixed;
    z-index: 2;
    height: 100vh;
    width: 100%;
    background-color: $base-color;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform .3s .2s ease-in-out;
    display: flex;
    justify-content: center;

    &__list {
        width: 100%;
        list-style: none;
        margin-top: 60px;
    }

    &__links {
        margin: 0;
        display: block;
        cursor: pointer;
        text-decoration: none;
        color: #000;
        transition: background-color .4s .1s ease-in-out;

        &:hover {
            background-color: darken($base-color, 5%);
        }

    }

    &__items {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 48px;
        font-size: 1.25em;
        text-align: center;

    }

    &--active {
        transform: translateY(0);
    }

}
.header_section{
    font-size: 2em;
    text-align: center;
}
.about_me {
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-flow: wrap row;

    &__header {
        width: 100%;
    }

    &__sections {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        margin: 10px auto;

    }

    &__technology {
        display: flex;
        flex-flow: row wrap;
        min-height: 320px;
        width: 100%;
        justify-content: space-around;
        align-content: space-around;
    }

    &__figure {
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

    }

    &__figcaption {
        font-size: 1.2em;
    }

    &__icon {
        height: 100px;
    }


}


.myproject {
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-evenly;
    align-content: space-around;

    &__header{
        width: 100%;

    }
    &__items {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: space-between;
        box-shadow: 2px 2px 10px 2px;
        max-width: 480px;
        padding: 10px;
    }

    &__link {
        text-decoration: none;
        color: black;
        padding: 5px;
        font-size: 1.1em;
        transition: color .5s .1s ease-in-out, font-size .2s .2s ease-in-out;

        &:hover {
            font-size: 1.15em;
            color: $second-color;
        }

    }



    &__img {
        width: 100%;
    }
}



.contact {
    min-height: 75vh;
    padding: 20px;


    &__form {
        margin: 10px auto;
        height: 65vh;
        display: flex;
        justify-content: space-between;
        flex-flow: column nowrap;
    }

    &__input {
        width: 100%;
        border: none;
        border-bottom: 1px solid $second-color;
        padding: 10px;
        font-size: 1.2em;
    }


    &__msg {
        padding: 10px;
        min-width: 100%;
        min-height: 240px;
        font-size: 1.2em;
        resize: none;
        border: none;
        border-bottom: 1px solid $second-color;
    }

    &__button{
        width: 320px;
        height: 32px;
        margin: 0 auto;
        font-size: 1.05em;
        background:none;
        border: none;
        border-right: 2px solid $second-color;
        border-bottom: 2px solid $second-color;
        cursor: pointer;
        transition: .2s .1s ease-in-out;

        
        &:hover{
            transform: scale(1.05);
            background-color: darken($base-color,5%);
        }
    }

}

.footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    min-height: 42px;
}



































@media screen and(min-width: 1244px) {
    .top_wrapper {
        background-size: 30vw;
    }
}