*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  background-color: #e6e6e6;
}

.top_wrapper {
  height: 100vh;
  width: 100vw;
  background-image: url("./img/background__wrraper.png");
  background-repeat: no-repeat;
  background-size: 75vw;
  background-position: right bottom;
}

.top_wrapper__header {
  position: absolute;
  top: 15%;
  left: 5%;
  z-index: -1;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.top_wrapper__second {
  position: absolute;
  left: 5%;
}

.social {
  position: absolute;
  bottom: 10%;
  left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 130px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.social__img {
  height: 32px;
}

.hamburger {
  position: absolute;
  padding: 16px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  left: 10px;
  top: 10px;
  -webkit-transition: -webkit-transform .3s .2s ease-in-out;
  transition: -webkit-transform .3s .2s ease-in-out;
  transition: transform .3s .2s ease-in-out;
  transition: transform .3s .2s ease-in-out, -webkit-transform .3s .2s ease-in-out;
  z-index: 2;
}

.hamburger__box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger__inner {
  width: 100%;
  height: 2px;
  background-color: #148aff;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: background-color .1s .2s ease-in-out;
  transition: background-color .1s .2s ease-in-out;
}

.hamburger__inner::before, .hamburger__inner::after {
  width: 100%;
  height: 2px;
  background-color: #148aff;
  position: absolute;
  content: "";
  left: 0;
  -webkit-transition: -webkit-transform .2s .2s ease-in-out;
  transition: -webkit-transform .2s .2s ease-in-out;
  transition: transform .2s .2s ease-in-out;
  transition: transform .2s .2s ease-in-out, -webkit-transform .2s .2s ease-in-out;
}

.hamburger__inner::before {
  top: -10px;
}

.hamburger__inner::after {
  top: 10px;
}

.hamburger--active {
  z-index: 3;
  -webkit-transform: translateX(300px);
          transform: translateX(300px);
  position: fixed;
}

.hamburger--active .hamburger__inner {
  background-color: transparent;
}

.hamburger--active .hamburger__inner::before {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger__inner::after {
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}

.navigation {
  position: fixed;
  z-index: 2;
  height: 100vh;
  width: 100%;
  background-color: #e6e6e6;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform .3s .2s ease-in-out;
  transition: -webkit-transform .3s .2s ease-in-out;
  transition: transform .3s .2s ease-in-out;
  transition: transform .3s .2s ease-in-out, -webkit-transform .3s .2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation__list {
  width: 100%;
  list-style: none;
  margin-top: 60px;
}

.navigation__links {
  margin: 0;
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  -webkit-transition: background-color .4s .1s ease-in-out;
  transition: background-color .4s .1s ease-in-out;
}

.navigation__links:hover {
  background-color: #d9d9d9;
}

.navigation__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 48px;
  font-size: 1.25em;
  text-align: center;
}

.navigation--active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header_section {
  font-size: 2em;
  text-align: center;
}

.about_me {
  min-height: 100vh;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
}

.about_me__header {
  width: 100%;
}

.about_me__sections {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 10px auto;
}

.about_me__technology {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  min-height: 320px;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.about_me__figure {
  width: 50%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about_me__figcaption {
  font-size: 1.2em;
}

.about_me__icon {
  height: 100px;
}

.myproject {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 20px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.myproject__header {
  width: 100%;
}

.myproject__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-shadow: 2px 2px 10px 2px;
          box-shadow: 2px 2px 10px 2px;
  max-width: 480px;
  padding: 10px;
}

.myproject__link {
  text-decoration: none;
  color: black;
  padding: 5px;
  font-size: 1.1em;
  -webkit-transition: color .5s .1s ease-in-out, font-size .2s .2s ease-in-out;
  transition: color .5s .1s ease-in-out, font-size .2s .2s ease-in-out;
}

.myproject__link:hover {
  font-size: 1.15em;
  color: #148aff;
}

.myproject__img {
  width: 100%;
}

.contact {
  min-height: 65vh;
  padding: 20px;
}

.contact__form {
  margin: 10px auto;
  min-height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.contact__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #148aff;
  padding: 10px;
  font-size: 1.2em;
  margin-top: 10px;
}

.contact__msg {
  padding: 10px;
  height: 240px;
  font-size: 1.2em;
  resize: none;
  border: none;
  border-bottom: 1px solid #148aff;
  margin-top: 10px;
}

.contact__button {
  width: 320px;
  min-height: 32px;
  margin: 10 auto;
  font-size: 1.05em;
  background: none;
  border: none;
  border-right: 2px solid #148aff;
  border-bottom: 2px solid #148aff;
  cursor: pointer;
  -webkit-transition: .2s .1s ease-in-out;
  transition: .2s .1s ease-in-out;
  background-color: #cccccc;
}

.contact__button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #bfbfbf;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  min-height: 42px;
  margin-top: 10px;
}

@media screen and (min-width: 1244px) {
  .top_wrapper {
    background-size: 30vw;
  }
}
/*# sourceMappingURL=style.css.map */